In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    'name': ['Anna', 'John', 'Lucas', 'Mila', 'Eva'],
    'score': [55, 85, 78, 90, 65]
})
print(df)

bins = [0, 60, 75, 85, 100]
labels = ['niedostateczny', 'dostateczny', 'dobry', 'bardzo dobry']

df['grade'] = pd.cut(df['score'], bins=bins, labels=labels, right=False)
df

    name  score
0   Anna     55
1   John     85
2  Lucas     78
3   Mila     90
4    Eva     65

    name  score           grade
0   Anna     55  niedostateczny
1   John     85    bardzo dobry
2  Lucas     78           dobry
3   Mila     90    bardzo dobry
4    Eva     65     dostateczny